.codes{
	/*margin: auto;
	padding: auto;*/
	margin-bottom: 2em;
}
/*
.codes pre{
	margin: auto;
	padding: auto;
	font-size: 0.5em;
	width: 80%;
	background-color: #fbfaf8;
	border-radius: 1em;
	margin-bottom: 2em;
}
.codes code{
	background-color: #fbfaf8;
	line-height: 3.2em;
}
/*pre{
    
}
pre,code{
    position: absolute;
    width: 50%;
}*/